# Dataset
Dataset/

# Artifacts
Fooder/artifacts/

# Python
__pycache__/
*.pyc

# Models
models/
*.pkl

# Virtual Environment
venv/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

.env
.env.local
.env.production