# ============================================
# DATASETS
# ============================================

*.csv
*.json
*.pkl
*.tsv

# ============================================
# JUPYTER
# ============================================

.ipynb_checkpoints/

# ============================================
# PYTHON
# ============================================

__pycache__/

# ============================================
# MODELS
# ============================================

models/

# ============================================
# OUTPUTS
# ============================================

outputs/